[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"

[packages]
bs4 = "*"
lxml = "*"
requests = "*"
pandas = "*"
scholarly = "*"
tqdm = "*"
setuptools = "*"
wheel = "*"

[requires]
python_version = "3.8"
